#define configHomeWifi = "Home";
#define configHomePassword = "HomePass";
#define configOfficeWifi = "Office";
#define configOfficePassword = "OfficePass";
#define configRemoteWifi = "Remote";
#define configRemotePassword = "RemotePass";
